td{
    height: 50px;
    width:50px;
    background-color: red;
}
.dark-cell{
background-color: slategrey;
}

.light-cell{
    background-color: beige;

}
.white-piece{
    background-image: url('images/circle-white.svg');
}

.black-piece{
    background-image: url('images/circle-black.svg');
}


.black-queen{
    background-image: url('images/black-queen.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.white-queen{
    background-image: url('images/white-queen.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.selected{
    background-color: aquamarine;
}
.option{
    background-color: greenyellow;
}